@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-Green: #051f12;
  --secondary-1: #d9c7d7;
  --secondary-2: #fff5f0;
  --tertiary-1: #ffd9c7;
  --tertiary-2: #fad9b9;
  --burgundy: #490202;
  --swiper-navigation-color: #fff;
}

html {
  overflow: scroll;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: forma-djr-cyrillic-banner, sans-serif;
  font-style: normal;
  font-weight: 200;
  letter-spacing: 1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
